<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Registro de Usuario</title>
</head>
<body>
    <h1>Formulario de Registro de Usuario</h1>
    
    <div class="form-container">
        <form id="registrationForm">
            <input type="email" id="email" name="email" placeholder="Correo Electrónico" required><br><br>
            <input type="password" id="password" name="password" placeholder="Contraseña" required><br><br>
            <input type="text" id="name" name="name" placeholder="Nombre" required><br><br>
            <input type="text" id="lastName" name="lastName" placeholder="Apellido" required><br><br>
            <input type="number" id="age" name="age" placeholder="Edad"><br><br>
            <button type="submit">Registrarse</button>
        </form>
    </div>

    <script>
        document.getElementById('registrationForm').addEventListener('submit', async function(e) {
            e.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const name = document.getElementById('name').value;
            const lastName = document.getElementById('lastName').value;
            const age = document.getElementById('age').value;
            console.log(email,password,name,lastName,age)

            try {
                await fetch('http://localhost:3000/user/registro', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email, password, name, lastName, age, role: 'user' }),
                });
                // Redirigir o mostrar un mensaje de confirmación aquí si es necesario
            } catch (error) {
                console.error('Error al registrar usuario:', error);
            }
        });
    </script>
</body>
</html>
